@import "../../assets/styles/variables.scss";
@import "../../assets/styles/fonts.scss";

.container {
  width: 100%;
  background-color: $blueLight-BgColor;
  flex: 1;
}

.content {
  padding: 1.25rem 0 2rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

@media only screen and (max-width: 375px) {
  .content {
    width: 80%;
    padding-top: 6.6875rem;
    flex-wrap: wrap;
    gap: 2.7rem;
  }
}
