@import "../../assets/styles/variables.scss";
@import "../../assets/styles/fonts.scss";

.container {
  width: 100%;
  background-color: $blue-BgColor;
}

.content {
  padding: 0.4375rem 0 0.5rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include fontTitle();
  cursor: default;
}

@media only screen and (max-width: 375px) {
  .container {
    background-color: $blueLight-BgColor;
  }
  .content {
    padding-top: 0.625rem;
    padding-bottom: 0;
    justify-content: flex-end;
  }
  .title {
    display: none;
  }
}
